* {
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */
.logo {
    display: inline-flex;
    position: fixed;
    background-color: #e09f4c;
    margin-top: 20px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
}
.bean-coffee-logo {
   margin: 5px 20px;
}
nav {
    width: 100%;
    position: fixed;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    background-color: #e09f4c;
    width: 46%;
    height: 67px;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
    border-radius: 15px 0 0 15px; 
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
}
li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
a:link {
    color: #eee2c0;
}
a:visited {
    color: #eee2c0;
}
a:hover {
    color: #370c00;
    font-weight: 700;
}
a:active {
    color: #370c00;
    font-weight: 700;
}
img {
    width: 100%;
    height: auto;
}
/*HOME PAGE */
.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(42,7.8vh);
    grid-gap: 10px;
   /* grid-template-areas: 
        'logo .  .  .  .  .  nav nav nav nav nav nav'
        'logo .  .  .  .  .  nav nav nav nav nav nav'
        '. espresso-h1 espresso-h1 espresso-h1 espresso-h1 espresso-h1 . home-img home-img home-img home-img home-img'
        '. espresso-h1 espresso-h1 espresso-h1 espresso-h1 espresso-h1 . home-img home-img home-img home-img home-img'
        '. espresso-p  espresso-p espresso-p espresso-p espresso-p . home-img home-img home-img home-img home-img'
        '. espresso-p  espresso-p espresso-p espresso-p espresso-p . home-img home-img home-img home-img home-img'
        '. . button button button . . home-img home-img home-img home-img home-img'
        '. . button button button espresso-d espresso-d home-img home-img home-img home-img home-img'
        '. . . price . . . home-img home-img home-'; */
}
h1 {
    grid-row: 3 / 5;
    grid-column: 2 / span 5;
}
.home-img {
    grid-row: 3 / 13;
    grid-column: 8 / 12;
 
}
.home-p {
    grid-row: 5 / span 2;
    grid-column: 2 / span 5;
}
button {
    grid-row: 7 / span 2;
    grid-column: 3 / span 3;
}
.price {
    grid-row: 9 / span 1;
    grid-column: 4 / span 1;
}
.instore {
    grid-row: 10 / span 1;
    grid-column: 4 / span 1;
}
.espresso-d {
    grid-row: 8 / span 1;
    grid-column: 6 / span 3;
}
.espresso-d2 {
    grid-row: 11 / span 2;
    grid-column: 10 / span 3;
}
/* Menu Page */
.menu-img {
    grid-row: 12 / span 8;
    grid-column: 1 / span 7;
}
#menu {
    grid-row: 15 / span 2;
    grid-column: 8 / span 5;
}
.menu-p {
    grid-row: 17 / span 1;
    grid-column: 8 / span 5;
}
/*Our Mission Page */
.our-mission-img {
    grid-row: 21 / span 10;
    grid-column: 3 / span 8;

}
.our-mission-side {
    grid-row: 22 / span 1;
    grid-column: 2 / span 2;
}
.our-mission-p {
    grid-row: 25 / span 5;
    grid-column: 3 / span 3;
}
.our-mission-h {
    grid-row: 29 / span 1;
    grid-column: 8 / span 3;
}
/*Contact Page */
.address {
    grid-row: 32 / span 1;
    grid-column: 2 / span 3;
}
.address-p {
    grid-row: 33 / span 1;
    grid-column: 1 / span 5;
}
.opening-hours {
    grid-row: 34 / span 2;
    grid-column: 2 / span 3;
}
.opening-hours-p {
    grid-row: 36 / span 1;
    grid-column: 1 / span 5;
}
.opening-hours-p2 {
    grid-row: 36 / span 1;
    grid-column: 1 / span 5;
}
.contact {
    grid-row: 37 / span 2;
    grid-column: 2 / span 3;
}
.contact-email {
    grid-row: 38 / span 1;
    grid-column: 1 / span 5;
}
.contact-number {
    grid-row: 39 / span 1;
    grid-column: 1 / span 5;
}
.contact-img {
    grid-row: 32 / span 8;
    grid-column: 6 / span 7;
}
/*Footer */
footer {
    background-color:  #e09f4c;
    color:  #370c00;
    text-align: center;
}