* {
    margin: 0;
    box-sizing: border-box;
}
html {
    background-color: #6a3a2b;
}


/* HEADER */
.logo {
    display: inline-flex;
    position: fixed;
    background-color: #e09f4c;
    margin-top: 20px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
}
.bean-coffee-logo {
   margin: 5px 20px;
}
nav {
    width: 100%;
    position: fixed;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    background-color: #e09f4c;
    width: 46%;
    height: 67px;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
    border-radius: 15px 0 0 15px; 
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
}
li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
a:link {
    color: #eee2c0;
}
a:visited {
    color: #eee2c0;
}
a:hover {
    color: #370c00;
    font-weight: 700;
}
a:active {
    color: #370c00;
    font-weight: 700;
}
img {
    width: 100%;
    height: auto;
}
/*HOME PAGE */
.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(46,7.8vh);
    grid-gap: 10px;
}
h1 {
    grid-row: 3 / 5;
    grid-column: 2 / span 5;
    color:  #370c00;
    font-family: 'Big Shoulders Stencil Text', cursive;
    justify-self: center;
    align-self: center;
    font-size: 5.7rem;
}
.n05 {
    color: #e09f4c;
}
.home-img {
    grid-row: 3 / 13;
    grid-column: 9 / 13;
 
}
.home-p {
    grid-row: 5 / span 2;
    grid-column: 2 / span 5;
    font-family: 'Montserrat', sans-serif;
    color:#eee2c0;
    text-align: center;
    line-height: 1.8rem;
}
button {
    grid-row: 7 / span 2;
    grid-column: 3 / span 3;
    background-color: #27b8c2;
    color: #fff8d6;
    font-family: 'Big Shoulders Stencil Text', cursive;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    justify-self: center;
    align-self: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;

    
}
.price {
    grid-row: 9 / span 1;
    grid-column: 4 / span 1;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #eee2c0;
    font-size: 3rem;
    justify-self: center;
    align-self: end;
    letter-spacing: 0.3rem;
}
.instore {
    grid-row: 10 / span 1;
    grid-column: 3 / span 3;
    justify-self: center;
    color: #370c00;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 1.5rem;
    align-self: start;
}
.espresso-d {
    grid-row: 8 / span 1;
    grid-column: 7 / span 3;
    color: #71f0fa;
    font-family: 'Big Shoulders Stencil Text', cursive;
  
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    justify-self: center;
    align-self: end;
}
.espresso-d2 {
    grid-row: 12 / span 2;
    grid-column: 11 / span 2;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color:  #71f0fa;
    align-self: end;
    justify-self: end;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
.espresso-d2-span {
    color:  #e09f4c;
}
/* Menu Page */
.menu-img {
    grid-row: 14 / span 8;
    grid-column: 1 / span 7;
}
#menu {
    grid-row: 16 / span 2;
    grid-column: 8 / span 5;
    color: #eee2c0;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 3.5rem;
    text-align: center;
    align-self: start;
    letter-spacing: 0.3rem;
}
.menu-p {
    grid-row: 17 / span 3;
    grid-column: 8 / span 5;
    color: #eee2c0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    align-self: center;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}
.secret-menu {
    color:  #71f0fa;
}
.menu-coffee-beans {
    grid-row: 17 / span 3;
    grid-column: 11 / span 2;
    z-index: -1;
}
/*Our Mission Page */
.our-mission-img {
    grid-row: 24 / span 10;
    grid-column: 3 / span 8;

}
.our-mission-side {
    grid-row: 25 / span 1;
    grid-column: 2 / span 2;
    color: #71f0fa;
    font-family: 'Big Shoulders Stencil Text', cursive;
    justify-self: center;
    font-size: 1.5rem;
    text-shadow: 0 1px 10px  black;
}
.our-mission-p {
    grid-row: 28 / span 5;
    grid-column: 3 / span 3;
    width: 60%;
    color: #eee2c0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
    justify-self: center;
    align-self: end;

}
.our-mission-h {
    grid-row: 32 / span 2;
    grid-column: 8 / span 3;
    color:  #e09f4c;
    font-family: 'Big Shoulders Stencil Text', cursive;
    justify-self: center;
    font-size: 3.5rem;
    align-self: center;
}
/*Contact Page */
.address {
    grid-row: 36 / span 1;
    grid-column: 2 / span 3;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #370c00;
    font-size: 3.5rem;
    text-align: center;
}
.address-p {
    grid-row: 37 / span 1;
    grid-column: 1 / span 5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #eee2c0;
    align-self: end;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.opening-hours {
    grid-row: 38 / span 2;
    grid-column: 2 / span 3;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #370c00;
    font-size: 3.5rem;
    text-align: center;
    align-self: center;
}
.opening-hours-p {
    grid-row: 40 / span 1;
    grid-column: 1 / span 5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #eee2c0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
.hours {
    color: #71f0fa;
}
.contact {
    grid-row: 41 / span 2;
    grid-column: 2 / span 3;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #370c00;
    font-size: 3.5rem;
    text-align: center;
    align-self: center;
}
.contact-p {
    grid-row: 42 / span 2;
    grid-column: 1 / span 5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #eee2c0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    align-self: end;
    line-height: 2rem;
}

.contact-img {
    grid-row: 36 / span 8;
    grid-column: 6 / span 7;
}
/*Footer */
footer {
    background-color:  #e09f4c;
    color:  #370c00;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}